<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
	<meta charset="utf-8" />
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width" />
	<meta property="wb:webmaster" content="13b21966c78f011e" />
	<meta property="Generator" content="2.8" />
	<script src="https://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
	<title>商城首页</title>
	<link href="/Areas/Web/Content/common.css" rel="stylesheet" />
	<link href="/Areas/Web/Content/style.css" rel="stylesheet" />
	<link href="/Areas/Web/Content/WebLoginPlug.css" rel="stylesheet" />
	<link href="/Areas/Web/Content/WebAlertPlug.css" rel="stylesheet" />
	<link href="/Areas/Web/Content/artdilog.css" rel="stylesheet" />
	<script src="/Scripts/jquery-1.7.1.min.js"></script>
	<script src="/Areas/Web/Scripts/web.js"></script>
	<script src="/Areas/Web/Scripts/userInfo.js"></script>
	<script src="/Areas/Web/Scripts/home.js"></script>
	<script src="/Scripts/JumpPlatForm.js"></script>
	<script src="/Scripts/jquery.cookie.js"></script>
	<script src="/Scripts/CommonJS.js"></script>
	<script src="/Scripts/jQuery.mouseDelay.min.js"></script>
	<script src="/Scripts/jquery.scrollLoading.min.js"></script>
	<script src="/Scripts/jquery.nicescroll.min.js"></script>
	<script src="/Areas/Web/Scripts/jQuery.Web.Alert.js"></script>
	<script src="/Areas/Web/Scripts/jQuery.Web.Login.js"></script>
	<script src="/Scripts/jquery.artDialog.js"></script>
	<script src="/Areas/Web/Scripts/artDialog.iframeTools.js"></script>
	<script src="/Areas/Web/Scripts/head.js"></script>
	<script src="/Scripts/bootstrap.autocomplete.js"></script>
	<script src="/Areas/Web/Scripts/headdata.js"></script>
	<script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
	<script>
 		var advertisementImagePath = '';
		var advertisementUrl = '';
		if (advertisementImagePath != '') {
			$(function () {
				var div = $('<div id="adv_div"><a href="' + advertisementUrl + '" style="background-image: url(' + advertisementImagePath + ');"></a><div class="close">关闭</div></div>');
				var div2 = $('<div id="adv_div"><a href="' + advertisementUrl + '"><img src="' + advertisementImagePath + '"></a><div class="close">关闭</div></div>');
				$('body').prepend(div);
				$('img', div2).load(function () {
					div.height(90);
				});
				$('.close', div).click(function () {
					div.remove();
				});
			});
		}

		//楼层品牌轮播
        $(function () {
            $("a").attr("target", "_blank");
			$('.content-brand').each(function() {//content-brand
				scrollFloorBrand( $(this) );
			});
			function scrollFloorBrand(obj) {
				var Bindex = 0,
					timer = null,
					scrollA = $(obj).find('.scroll-A'),
					Blen = Math.ceil(scrollA.find('li').length/4),
					oPrev = $(obj).children('.prev'),
					oNext = $(obj).children('.next');
				function NextBrand() {
					Bindex++;
					if (Bindex > Blen-1) {
						Bindex=Blen-1;
					}
					scrollA.stop(true, false).animate({ top: -Bindex * 142 }, 600)
				}
				function PrevBrand() {
					Bindex--;
					if (Bindex == -1) {
						Bindex=0;
					}
					scrollA.stop(true, false).animate({ top: -Bindex * 142}, 600)
				}
				oPrev.click(function () {
					PrevBrand();
				});
				oNext.click(function () {
					NextBrand();
				});
			}
		});
		//底部品牌轮播
		$(function () {
			$(function () {
				var
				index = 0;
				Swidth = 550;
				timer = null;
				Slen = $(".BD-wrap .scroll-brand").length;
				function NextPage() {
					if (index > Slen - 1) {
						index = 0;
					}
					$(".BD-wrap .scroll-brand").stop(true, false).animate({ left: -index * Swidth + "px" }, 600)
				}

				function PrevPage() {
					if (index < 0) {
						index = Slen - 1;
					}

					$(".BD-wrap .scroll-brand").stop(true, false).animate({ left: -index * Swidth + "px" }, 600)
				}



				$(".BD-mid .bd-next").click(function () {
					index++;
					NextPage();
				});

				$(".BD-mid .bd-prev").click(function () {
					index--;
					PrevPage();
				});

			});
		})
	</script>
</head>
<body>
	<div id="content">
		<template v-if="advertisement.hide==false">
			<div class="top template-node template-nodel" name="advertisement" style="height:100px;overflow:hidden" t-title="广告设置">
				<a :href="advertisement.url"><img :src="advertisement.img" /></a>
			</div>
		</template>
		<div class="top">
			<div class="warp cl">
				<span class="top-link">
					您好，欢迎来到 <em class="s-name">京粮门店测试！</em>
					<a href="/userCenter/home">去买家中心</a>

				</span>
				<ul class="login-regin" id="loginUser">
					<li class="L-line"> <a href="/Login">请登录</a></li>
					<li> <a href="/Register">免费注册</a></li>
				</ul>

				<ul class="quick_list">

					<li class="sitemap dropdown">
						<span class="outline"></span>
						<span class="blank"></span>
						<a href="/UserCenter/home">我的京粮门店测试<b></b></a>

						<div class="dropdown-menu">
							<ol>
								<li><a href="/UserOrder">已买到的商品</a></li>
								<li><a href="/productConcern">我关注的商品</a></li>
								<li><a href="/shopConcern">我关注的店铺</a></li>
							</ol>
						</div>
					</li>
					<li><em class="shopping-cart"></em><a target="_blank" href="/cart/cart?returnUrl=%2f">购物车<em><span id="shopping-amount"></span></em>件</a></li>
					<li class="moblie-qrcode dropdown">

						<span class="outline"></span>
						<span class="blank"></span>
						<a href="javascript:void(0)">微信端</a>
						<div class="dropdown-menu">
							<img src="/Storage/Plat/Site/qrCode.png" width="90" height="90" />
						</div>
					</li>
					<li class="service dropdown">
						<span class="outline"></span>
						<span class="blank"></span>
						<a href="/SellerAdmin">卖家中心<b></b></a>

						<div class="dropdown-menu">
							<ol>
								<li><a href="/SellerAdmin">商家入驻</a></li>
								<li><a href="/SellerAdmin/order/management">已卖出商品</a></li>
								<li><a href="/SellerAdmin/product/create">发布商品</a></li>
								<li><a href="/SellerAdmin/product/management">管理商品</a></li>

							</ol>
						</div>
					</li>
					<li class="service dropdown">
						<span class="outline"></span>
						<span class="blank"></span>
						<a href="javascript:void(0)">客户中心<b></b></a>

						<div class="dropdown-menu">
							<ol>
								<li><a href="/Article/Category">帮助中心</a></li>
								<li class=""><a href="/OrderRefund">售后服务</a></li>
								<li><a href="/OrderComplaint">投诉中心</a></li>
							</ol>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<script src="/Areas/Web/Scripts/topInfo.js"></script>
		<div class="header">
			<div class="search-bar cl">
				<div class="logo template-node template-nodel" name="logo" t-title="Logo设置"><a href="/"><img :src="logo.img" alt="Mall" /></a></div>

				<div class="top-head-ad">
					<a href="http://www.baidu.com"><img src="/images/default.png" width="160" height="80" /></a>
				</div>

				<div class="search template-node template-nodel" name="search" t-title="搜索设置">
					<div class="search-form cl">
						<ul>
							<li>商品</li>
							<li>店铺</li>
						</ul>
						<label>商品</label>
						<input type="text" id="searchBox" class="text" :placeholder="search.keyWord" />
						<input type="button" id="searchBtn" class="button" value="搜索" />
					</div>
					<div class="hot-search">
						<a onclick="location.href=encodeURI( $(this).attr('url'))" class="active" :url="'/search/searchAd?keywords='+search.hotKeyWords">{{search.hotKeyWords}}</a>
					</div>
				</div>
			</div>
		</div>

		<div class="nav-bar">
			<div class="nav-content">
				<div class="categorys">
					<div class="cate-all"><a>全部商品分类</a><b></b></div>
					<div class="category">
						<div class="mc template-node template-nodel" name="category" t-title="商城分类设置">
							<template v-for="category in categories">
								<div class="item">
									<span>
										<h3>
											<template v-for="(item,index) in category.top">
												<i class="icon">
													<img v-if="item.icon" :src="item.icon">
												</i>
												<span v-if="index>0">、</span>
												<a :href="'/Search/SearchAd?cid='+item.categoryId" target="_blank">{{item.name}}</a>
											</template>
										</h3>
									</span>
									<div class="category-details">
										<div class="subitem">
											<p>
												<template v-for="(item,index) in category.top">
													<span v-if="index>0">、</span>
													<a :href="'/Search/SearchAd?cid='+item.categoryId" target="_blank">{{item.name}}</a>
												</template>
											</p>

											<dl v-for="(item,index) in category.group" :class="index==0?'first':''">
												<dt><a :href="'/Search/SearchAd?cid='+item.parent.id" target="_blank">{{item.parent.name}}</a></dt>
												<dd>
													<em v-for="c in item.items">
														<a :href="'/Search/SearchAd?cid='+c.id" target="_blank">{{c.name}}</a>
													</em>
												</dd>
											</dl>
										</div>
										<div class="cate-right">
											<h5>推荐品牌</h5>
											<ul>
												<li v-for="item in category.brands">
													<a :href="'/Search/SearchAd?b_id='+item.id" :title="item.name" target="_blank">
														<img src="~/Areas/Web/images/blank.gif" :data-url="item.logo" class="lazyload" :alt="item.name"/>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</template>
						</div>
					</div>
				</div>
				<ul class="nav cl template-node template-nodel" name="navigation" t-title="导航条设置">
					<li class="_banner" id="homePage" index=""><a href="/">首页</a></li>
					<template v-for="item in navigations">
						<li class="_banner" v-if="item.status==1" :index="item.url"><a :target="item.enableDelete==1?'_blank':''" :href="item.url">{{item.name}}</a></li>
					</template>
				</ul>
			</div>
		</div>

		<div class="right-side">
			<div class="right-side-menu">
				<ul class="menu-top">
					<li data-tag="user">
						<i class="user" id="right_userCenter"><s></s></i>
						<span>个人中心</span>
					</li>
					<s></s>
					<li data-tag="cart" arrow class="side-cart" id="right_cart">
						<i class="cart"><s></s></i>
						<p>购物车</p>
						<em>0</em>
					</li>
					<s></s>
					<li data-tag="asset" arrow id="right_asset">
						<i class="asset"><s></s></i>
						<span>资产中心</span>
						<div class="side-point">
							该店铺可领优惠券<br />
							<a>立即领取</a>
						</div>
					</li>
					<li data-tag="at-goods" arrow id="right_goods">
						<i class="at-goods"><s></s></i>
						<span>关注商品</span>
					</li>
					<li data-tag="history" arrow id="right_history">
						<i class="history"><s></s></i>
						<span>浏览历史</span>
					</li>

					<li data-tag="customer" id="right_customer">
						<s></s>
						<a class="qq_icon_one" target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=909391708&amp;site=qq&amp;menu=yes" title="aaa">
							<i class="customer"><b></b><em>客服</em></i>
						</a>
					</li>
				</ul>
				<ul class="menu-bot">
					<li>
						<i class="go-top"></i>
						<span>返回顶部</span>
					</li>
				</ul>
			</div>
			<div class="side-content">
				<div class="side-cart-c">
					<div class="side-bd">
						<input type="hidden" value="2" id="hidAuditStatus" />
						<input type="hidden" value="1" id="hidSaleStatus" />
						<div class="cart-top">
							<label><input type="checkbox" name="s-checkAll" checked />全选</label>
							<a href="/cart/cart?returnUrl=%2f" title="">查看全部</a>
						</div>
						<div class="cart-list">
							<ul id="side-cart-list"></ul>
						</div>
					</div>
					<div class="side-bt">
						<div class="cart-total">
							<span class="total-money">￥<em id="s-total-money">0</em></span>
							<span class="total-num">已选<em id="s-total-num">0</em>件</span>
						</div>
						<input type="button" id="toSubmitOrder" value="购物车结算">
					</div>
				</div>

				<div class="side-asset-c">
					<div class="side-hd">
						<a class="side-close" title="关闭">>></a>
						<a href="/UserCenter?url=/userCoupon&tar=userCoupon" target="_blank">资产中心</a>
					</div>
					<div class="side-bd" id="userCouponList">
						<div class="side-asset-total cl">
							<div>
								<span id="memberIntegral">0</span>
								<p>我的积分</p>
							</div>
							<div>
								<span id="mycouponcount">0</span>
								<p>优惠券</p>
							</div>
						</div>
						<div class="side-asset-list" id="myCouponList">

							<p>已领取的优惠券</p>
							<ul></ul>
						</div>
					</div>
				</div>

				<div class="side-atgoods-c">
					<div class="side-hd">
						<a class="side-close" title="关闭">>></a>
						<a href="/UserCenter?url=/productConcern&tar=productConcern" target="_blank">关注商品</a>
					</div>
					<div class="side-bd">
						<ul class="side-goods-list cl" id="memberConcern"></ul>
					</div>
				</div>
				<div class="side-history-c">
					<div class="side-hd">
						<a class="side-close" title="关闭">>></a>
						<a href="javascript:void(0)" target="_blank">浏览历史</a>
					</div>
					<div class="side-bd">
						<ul class="side-goods-list cl" id="userBrowsingProducts"></ul>
					</div>
				</div>
			</div>
		</div>
		<input type="hidden" id="isLogin" value="false" />
		<div class="first-screen cl">
			<div class="slide-box">
				<div id="slide" class="template-node template-nodel" z-index="98" t-title="自动轮播设置">
					<ul class="slide-items">
						<li>
							<a href="" target="_blank" style="background-image:url(/images/default.png)"></a>
						</li>
						<li>
							<a href="" target="_blank" style="background-image:url(/images/default.png)"></a>
						</li>
					</ul>
				</div>
				<div class="small-banner">
					<div class="template-node template-nodel">
						<a href="" target="_blank"><img class="lazyload" src="/Areas/Web/images/blank.gif" data-url="/images/default.png" /></a>
					</div>
					<div class="banner-separator"></div>
					<div class="template-node template-nodel">
						<a href="" target="_blank"><img class="lazyload" src="/Areas/Web/images/blank.gif" data-url="/images/default.png" /></a>
					</div>
				</div>
			</div>
		</div>
		<div class="content">
			<template v-for="(item,news_index) in news">
				<div v-if="item.name=='limitedBuy'" class="template-node" v-bind:class="item.name" :name="item.name" :index="news_index" :t-title="item.text">
					<h5> <s></s></h5>
					<ul>
						<li v-for="v in item.data">
							<span class="num-p">
								<b class="b1">仅余</b>
								<em v-for="n in v.stock">{{n}}</em>
								<b class="b2">件</b>
							</span>
							<a class="limi-img" :href="v.url" target="_blank"><img class="lazyload" :src="v.img" :data-url="v.img" width="230" height="230"></a>
							<span class="old-p">原价<s>{{v.cost}}</s></span>
							<span class="now-p">RMB<b>{{v.price}}</b></span>
							<a class="buy-it-now" :href="v.url" target="_blank">立即抢购</a>
						</li>
					</ul>
				</div>
				<div v-else-if="item.name=='floorOne'" class="template-node" v-bind:class="item.name" :name="item.name" :index="news_index" :t-title="item.text">
					<div class="floor">
					    <div class="floor-hd">
					        <h3>{{item.data.floorName}}</h3>
					        <ul>
					            <li class="active">{{item.data.DefaultTabName}}<s></s></li>
					            <li v-for="tab in item.data.Tabs">{{tab.Name}}<s></s></li>
					        </ul>
					    </div>
					
					    <div class="floor-bd">
					        <div class="floor-content cl">
					            <div class="Content1 clearfix">
					                <div class="content-left">
					                    <div class="slide">
					                        <a :href="item.data.imgPlace[0].url"><img class="lazyload" :src="item.data.imgPlace[0].src" /></a>
					                    </div>
					                    <div class="cata-flo">
					                        <table>
					                            <tr>
					                                <td v-for="link in item.data.TextLinks"><a :href="link.url" target="_blank">{{link.name}}</a></td>
					                            </tr>
					                        </table>
					                    </div>
					
					                    <div class="content-brand">
					                        <b class="prev"></b>
					                        <b class="next"></b>
					                        <div class="brand-A">
					                            <div class="brandA-wrap">
					                                <div class="scroll-A">
					                                    <ul>
					                                        <li v-for="brand in item.data.Brands"><a target="_blank" :title="brand.name" :href="'/Search?b_id='+brand.id"><img class="lazyload" :src="brand.src" /></a></li>
					                                    </ul>
					                                </div>
					                            </div>
					                        </div>
					                    </div>
					                </div>
					                <div class="content-right-box">
					                    <ul class="content-right-img">
					                        <li class="fore1"><a :href="item.data.imgPlace[1].url"><img class="lazyload" :src="item.data.imgPlace[1].src" /></a></li>
					                        <li class="fore2"><a :href="item.data.imgPlace[2].url"><img class="lazyload" :src="item.data.imgPlace[2].src" /></a></li>
					                        <li class="fore3"><a :href="item.data.imgPlace[3].url"><img class="lazyload" :src="item.data.imgPlace[3].src" /></a></li>
					                        <li class="fore4"><a :href="item.data.imgPlace[4].url"><img class="lazyload" :src="item.data.imgPlace[4].src" /></a></li>
					                        <li class="fore5"><a :href="item.data.imgPlace[5].url"><img class="lazyload" :src="item.data.imgPlace[5].src" /></a></li>
					                    </ul>
										<ul class="content-right-tab" style="display:none" v-for="tab in item.data.Tabs">
					                        <li v-for="pro in tab.Detail">
					                            <div class="p-img">
			                                        <a :href="'/Product/Detail/'+pro.ProductId" target="_blank"><img class="lazyload" :src="pro.image"></a>
			                                    </div>
			
			                                    <p>￥<span>{{pro.Price}}</span></p>
			                                    <h3><a :href="'/Product/Detail/'+pro.ProductId" target="_blank">{{pro.Name}}</a></h3>
					                        </li>
							            </ul>
					                </div>
					            </div>
					            <ul class="Content2 clearfix">
					                <li><a :href="item.data.imgPlace[6].url"><img class="lazyload" :src="item.data.imgPlace[6].src" /></a></li>
					                <li><a :href="item.data.imgPlace[7].url"><img class="lazyload" :src="item.data.imgPlace[7].src" /></a></li>
					                <li><a :href="item.data.imgPlace[8].url"><img class="lazyload" :src="item.data.imgPlace[8].src" /></a></li>
					                <li><a :href="item.data.imgPlace[9].url"><img class="lazyload" :src="item.data.imgPlace[9].src" /></a></li>
					            </ul>
					        </div>
					    </div>
					
					</div>
				</div>
				<div v-else-if="item.name=='floorTwo'" class="template-node" v-bind:class="item.name" :name="item.name" :index="news_index" :t-title="item.text">
					<div class="floorB floor">
					    <div class="floorB-hd">
					        <h3>{{item.data.floorName}}</h3>
					    </div>
					    <div class="floor-show-area">
					        <div class="t-show"><a :href="item.data.imgPlace[0].url"><img class="lazyload" :src="item.data.imgPlace[0].src" /></a></div>
					        <div class="b-show clearfix">
					            <a :href="item.data.imgPlace[1].url"><img class="lazyload" :src="item.data.imgPlace[1].src"/></a>
					            <a :href="item.data.imgPlace[2].url"><img class="lazyload" :src="item.data.imgPlace[2].src" /></a>
					            <a :href="item.data.imgPlace[3].url"><img class="lazyload" :src="item.data.imgPlace[3].src" /></a>
					            <a :href="item.data.imgPlace[4].url"><img class="lazyload" :src="item.data.imgPlace[4].src" /></a>
					            <a :href="item.data.imgPlace[5].url"><img class="lazyload" :src="item.data.imgPlace[5].src" /></a>
					        </div>
					    </div>
					</div>
				</div>
				<div v-else-if="item.name=='floorThree'" class="template-node" v-bind:class="item.name" :name="item.name" :index="news_index" :t-title="item.text">
					<div class="floorA  floor clearfix">
					    <div class="floorA-hd">
					        <h3>{{item.data.floorName}}</h3>
					        <ul>
					            <li class="active">{{item.data.DefaultTabName}}<s></s></li>
					            <li v-for="tab in item.data.Tabs">{{tab.Name}}<s></s></li>
					        </ul>
					    </div>
					    <div class="left-show clearfix">
					        <div class="section showA"><a><img class="lazyload" :src="item.data.imgPlace[0].src" /></a></div>
					    </div>
					    <div class="floorA-right">
					        <div class="right-img-show clearfix tab-right current">
					            <div class="right-show-wrap clearfix">
					                <div class="section showB">
					                    <a :href="item.data.imgPlace[1].url"><img class="lazyload" :src="item.data.imgPlace[1].src"/></a>
					                    <a :href="item.data.imgPlace[4].url"><img class="lazyload" :src="item.data.imgPlace[4].src"/></a>
					                </div>
					                <div class="section showC">
					                	<a :href="item.data.imgPlace[2].url"><img class="lazyload" :src="item.data.imgPlace[2].src"/></a>
					                	<a :href="item.data.imgPlace[3].url"><img class="lazyload" :src="item.data.imgPlace[3].src"/></a>
					                	<a :href="item.data.imgPlace[5].url"><img class="lazyload" :src="item.data.imgPlace[5].src"/></a>
					                	<a :href="item.data.imgPlace[6].url"><img class="lazyload" :src="item.data.imgPlace[6].src"/></a>
					                </div>
					            </div>
					            <div class="right-hot clearfix">
					                <h3>热销推荐</h3>
					                <ul>
					                	<li><a :href="item.data.imgPlace[7].url"><img :src="item.data.imgPlace[7].src"/></a></li>
					                	<li><a :href="item.data.imgPlace[8].url"><img :src="item.data.imgPlace[8].src"/></a></li>
					                	<li><a :href="item.data.imgPlace[9].url"><img :src="item.data.imgPlace[9].src"/></a></li>
					                	<li><a :href="item.data.imgPlace[10].url"><img :src="item.data.imgPlace[10].src"/></a></li>
					                </ul>
					            </div>
					        </div>
				            <div class="right-tab-pro clearfix tab-right" v-for="tab in item.data.Tabs">
				                <ul>
			                        <li v-for="pro in tab.Detail">
			                            <a :href="'/Product/Detail/'+pro.ProductId"><img :src="pro.image" /></a>
			                            <div>
			                                <span>￥{{pro.Price}}</span>
			                                <p><a :href="'/Product/Detail/'+pro.ProductId">{{pro.Name}}</a></p>
			                            </div>
			                        </li>
				                </ul>
				            </div>
					    </div>
					</div>
				</div>
				<div v-else-if="item.name=='floorFour'" class="template-node" v-bind:class="item.name" :name="item.name" :index="news_index" :t-title="item.text">
					<div class="floorC floor">
					    <div class="t-show"><a :href="item.data.imgPlace[0].url"><img class="lazyload" :src="item.data.imgPlace[0].src"/></a></div>
					    <div class="b-pro">
					        <ul class="clearfix">
				                <li v-for="pro in item.data.product">
				                    <a :href="'/Product/Detail/'+pro.ProductId"><img class="lazyload" :src="pro.image"></a>
				                    <div>
				                        <span><i>￥{{pro.Price}}</i><s>￥{{pro.MarketPrice}}</s></span>
				                        <p><a :href="'/Product/Detail/'+pro.ProductId">{{pro.Name}}</a></p>
				                    </div>
				                </li>
					        </ul>
					    </div>
					</div>
				</div>
				<div v-else-if="item.name=='floorFive'" class="template-node" v-bind:class="item.name" :name="item.name" :index="news_index" :t-title="item.text">
					<div class="content_m floor floor">
					    <div class="content_mtop">
					        <b>{{item.data.floorName}}</b><em>{{item.data.floorSubName}}</em><span></span>
					        <ul class="goods_class_list">
					            <li v-for="link in item.data.textLinks" ><a target="_blank" :href="link.url">{{link.name}}</a></li>
					        </ul>
					    </div>
					    <div class="content_mcont">
					        <div class="content_mcontl">
					            <div v-for="img in item.data.imgleft"><a target="_blank" :href="img.url"><img class="lazyload" :src="img.src"/></a></div>
					        </div>
					
					        <div class="content_mcontc">
					            <div v-for="img in item.data.imgright"><a target="_blank" :href="img.url"><img class="lazyload" :src="img.src" /></a></div>
					        </div>
					        <div class="content_mcontr">
					            <div class="content_mcontrtop">推荐品牌</div>
					            <ul>
					                <li v-for="brand in item.data.brands"><a target="_blank" :title="brand.name" :href="'/Search?b_id='+brand.id"><img class="lazyload" :src="brand.src" /></a></li>
					            </ul>
					        </div>
					    </div>
					</div>
				</div>
				<div v-else-if="item.name=='floorSix'" class="template-node" v-bind:class="item.name" :name="item.name" :index="news_index" :t-title="item.text">
					<div class="floor5 floor">
					    <div class="floor5-hd">
					        <i><s>1</s>F</i><span>{{item.data.floorName}}</span>
					        <ul>
					            <li class="active">{{item.data.DefaultTabName}}</li>
					            <li v-for="tab in item.data.Tabs">{{tab.Name}}</li>
					        </ul>
					    </div>
					    <div class="floor-bd">
					        <div class="floor-content cl">
					            <div class="content-left5">
					                <div class="slide">
					                    <ul class="cl" style="width: 1600px;">
					                        <li v-for="scroll in item.data.scrolls"><a target="_blank" :href="scroll.url"><img class="lazyload" :src="scroll.src" /></a></li>
					                    </ul>
					                    <div class="slide-controls"><span class="cur">0</span><span>1</span><span>2</span><span>3</span></div>
					                </div>
					                <table>
				                        <tr>
				                            <td v-for="link in item.data.textLinks"><a :href="link.url" target="_blank">{{link.name}}</a></td>
				                        </tr>
					                </table>
					            </div>
					
					            <div class="content-right-box">
					                <ul class="content-right-img tab-right"  style="display:block">
					                    <li v-for="(img, index) in item.data.images" :class="'fore'+(index+1)"><a target="_blank" :href="img.url"><img class="lazyload" :src="img.src" /></a></li>
					                </ul>
				                    <ul class="content-right-goods tab-right" v-for="tab in item.data.Tabs">
			                            <li  v-for="(pro,index) in tab.Detail" class="'fore'+(index+1)">
			                                <div class="p-img">
			                                    <a target="_blank" :href="'/Product/Detail/'+pro.ProductId">
			                                        <img class="lazyload" :src="pro.src">
			                                    </a>
			                                </div>
			                                <h3><a target="_blank" :href="'/Product/Detail/'+pro.ProductId">{{pro.Name}}</a></h3>
			                                <p>￥<span>{{pro.Price}}</span></p>
			                            </li>
				                    </ul>
					            </div>
					
					            <div class="content-brand5">
					                <ul class="cl">
					                    <li v-for="brand in item.data.brands"><a target="_blank" :title="brand.name" href="'/Search?b_id='+brand.id"><img class="lazyload" :src="brand.src" /></a></li>
					                </ul>
					            </div>
					
					        </div>
					    </div>
					</div>
				</div>
				<div v-else-if="item.name=='floorSeven'" class="template-node" v-bind:class="item.name" :name="item.name" :index="news_index" :t-title="item.text">
					<div class="floor floor-six clearfix">
					    <div class="floor-six-hd">
					        <h3>{{item.data.floorName}}</h3>
					        <ul>
					            <li class="active">{{item.data.DefaultTabName}}<s></s></li>
					            <li v-for="tab in item.data.Tabs" class="">{{tab.Name}}<s></s></li>
					        </ul>
					        <s class="hd-bg"></s>
					    </div>
					
					    <div class="floor-six-left clearfix">
					        <div class="fsl-a">
					            <a :href="item.data.imgPlace[0].url"><img :src="item.data.imgPlace[0].src"/></a>
					            <a :href="item.data.imgPlace[1].url"><img :src="item.data.imgPlace[1].src"/></a>
					            <a :href="item.data.imgPlace[2].url"><img :src="item.data.imgPlace[2].src"/></a>
					            <a :href="item.data.imgPlace[3].url"><img :src="item.data.imgPlace[3].src"/></a>
					            <a :href="item.data.imgPlace[4].url"><img :src="item.data.imgPlace[4].src"/></a>
					            <a :href="item.data.imgPlace[5].url"><img :src="item.data.imgPlace[5].src"/></a>
					            <a :href="item.data.imgPlace[6].url"><img :src="item.data.imgPlace[6].src"/></a>
					            <a :href="item.data.imgPlace[7].url"><img :src="item.data.imgPlace[7].src"/></a>
					            <a :href="item.data.imgPlace[8].url"><img :src="item.data.imgPlace[8].src"/></a>
					        </div>
					        <div class="fsl-b">
					        	<a :href="item.data.imgPlace[9].url"><img :src="item.data.imgPlace[9].src"/></a>
					        </div>
					    </div>
					    <div class="floor-six-right clearfix">
					        <div class="right-img-show clearfix tab-right current">
					            <div class="fsr-a">
					            	<a :href="item.data.imgPlace[10].url"><img :src="item.data.imgPlace[10].src"/></a>
					            	<a class="special-a" :href="item.data.imgPlace[11].url"><img :src="item.data.imgPlace[11].src"/></a>
					            	<a :href="item.data.imgPlace[12].url"><img :src="item.data.imgPlace[12].src"/></a>
					            	<a :href="item.data.imgPlace[13].url"><img :src="item.data.imgPlace[13].src"/></a>
					            	<a :href="item.data.imgPlace[14].url"><img :src="item.data.imgPlace[14].src"/></a>
					            </div>
					            <div class="fsr-b">
					            	<a :href="item.data.imgPlace[15].url"><img :src="item.data.imgPlace[15].src"/></a>
					            </div>
					        </div>
					        <div v-for="tab in item.data.Tabs" class="right-tab-pro clearfix tab-right" style="display:none;">
			                    <ul>
		                            <li v-for="pro in tab.Detail">
		                            	<a :href="'/Product/Detail/'+pro.ProductId"><img class="lazyload" :src="pro.Img"></a>
			                            <div>
			                                <span>￥{{pro.Price}}</span>
			                                <p><a href="/Product/Detail/@item.ProductId">{{pro.Name}}</a></p>
			                            </div>
		                            </li>
			                    </ul>
			                </div>
					    </div>
					</div>
				</div>
				<div v-else-if="item.name=='floorEight'" class="template-node" v-bind:class="item.name" :name="item.name" :index="news_index" :t-title="item.text">
					<div class="floor floor-seven clearfix">
					    <div class="floor-seven-hd">
					        <h3>{{item.data.floorName}}</h3>
					        <ul>
					            <li class="active">{{item.data.DefaultTabName}}<s></s></li>
					            <li v-for="tab in item.data.Tabs" class="">{{tab.Name}}<s></s></li>
					        </ul>
					    </div>
					    <div class="floor-seven-top clearfix">
					        <div class="fst-left">
					            <a :href="item.data.imgPlace[0].url"><img :src="item.data.imgPlace[0].src"/></a>
					        </div>
					        <div class="fst-mid ">
					            <div class="fst-img-show tab-right current">
					                <a :href="item.data.imgPlace[1].url"><img :src="item.data.imgPlace[1].src"/></a>
					                <a :href="item.data.imgPlace[2].url"><img :src="item.data.imgPlace[2].src"/></a>
					                <a class="fst-m-spe" :href="item.data.imgPlace[3].url"><img :src="item.data.imgPlace[3].src" /></a>
					                <a :href="item.data.imgPlace[4].url"><img :src="item.data.imgPlace[4].src" /></a>
					                <a :href="item.data.imgPlace[5].url"><img :src="item.data.imgPlace[5].src" /></a>
					                <a class="fst-m-spe" :href="item.data.imgPlace[6].url"><img :src="item.data.imgPlace[6].src"/></a>
					            </div>
				                <div v-for="tab in item.data.Tabs" class="tab-pro-show tab-right" style="display:none;">
				                    <ul>
			                            <li v-for="pro in tab.Detail">
			                                <div>
			                                    <p><a :href="'/Product/Detail/'+pro.ProductId">{{pro.Name}}</a></p>
			                                    <span>￥{{pro.Price}} <s>￥{{pro.MarketPrice}}</s></span>
			                                </div>
			                                <a :href="'/Product/Detail/'+pro.ProductId"><img class="lazyload" :src="pro.Img"></a>
			                            </li>
				                    </ul>
				                </div>
					        </div>
					        <div class="fst-right">
					            <a :href="item.data.imgPlace[7].url"><img :src="item.data.imgPlace[7].src"/></a>
					            <a :href="item.data.imgPlace[8].url"><img :src="item.data.imgPlace[8].src"/></a>
					            <a :href="item.data.imgPlace[9].url"><img :src="item.data.imgPlace[9].src"/></a>
					            <a :href="item.data.imgPlace[10].url"><img :src="item.data.imgPlace[10].src"/></a>
					            <a :href="item.data.imgPlace[11].url"><img :src="item.data.imgPlace[11].src"/></a>
					        </div>
					    </div>
					    <div class="floor-seven-bottom clearfix">
					        <div class="fsb-img-show tab-right current">
					            <ul>
					                <li><img :src="item.data.imgPlace[12].src" /></li>
					                <li><img :src="item.data.imgPlace[13].src" /></li>
					                <li><img :src="item.data.imgPlace[14].src" /></li>
					            </ul>
					        </div>
					        <div class="fsb-pro-show tab-right">
					            <ul>
					                <li><img :src="item.data.imgPlace[12].src" /></li>
					                <li><img :src="item.data.imgPlace[13].src" /></li>
					                <li><img :src="item.data.imgPlace[14].src" /></li>
					            </ul>
					        </div>
					    </div>
					</div>
				</div>
				<div v-else-if="item.name=='floorNine'" class="template-node" v-bind:class="item.name" :name="item.name" :index="news_index" :t-title="item.text">
					<div class="floor floor-eight clearfix">
					    <div class="floor-eight-hd">
					        <h3><i></i>{{item.data.floorName}}</h3>
					        <ul>
					            <li v-for="link in item.data.textLinks"><a :href="link.url">{{link.name}}</a></li>
					        </ul>
					    </div>
					    <div class="floor-eight-top">
					        <div class="fet-left">
					            <a class="fet-left-a" :href="item.data.imgPlace[0].url"><img :src="item.data.imgPlace[0].src" /></a>
					            <a class="fet-left-b" :href="item.data.imgPlace[1].url"><img :src="item.data.imgPlace[1].src"/></a>
					        </div>
					        <div class="fet-mid">
					            <a class="fet-mid-spe" :href="item.data.imgPlace[2].url"><img :src="item.data.imgPlace[2].src"/></a>
					            <a :href="item.data.imgPlace[3].url"><img :src="item.data.imgPlace[3].src"/></a>
					            <a :href="item.data.imgPlace[4].url"><img :src="item.data.imgPlace[4].src"/></a>
					        </div>
					        <div class="fet-right">
					            <a :href="item.data.imgPlace[5].url"><img :src="item.data.imgPlace[5].src"/></a>
					            <a :href="item.data.imgPlace[6].url"><img :src="item.data.imgPlace[6].src"/></a>
					            <a :href="item.data.imgPlace[7].url"><img :src="item.data.imgPlace[7].src"/></a>
					        </div>
					    </div>
					    <div class="floor-eight-bottom">
					        <a :href="item.data.imgPlace[8].url"><img :src="item.data.imgPlace[8].src"/></a>
					        <a :href="item.data.imgPlace[9].url"><img :src="item.data.imgPlace[9].src"/></a>
					        <a :href="item.data.imgPlace[10].url"><img :src="item.data.imgPlace[10].src"/></a>
					        <a :href="item.data.imgPlace[11].url"><img :src="item.data.imgPlace[11].src"/></a>
					        <a :href="item.data.imgPlace[12].url"><img :src="item.data.imgPlace[12].src"/></a>
					    </div>
					</div>
				</div>
			</template>
		</div>
		<div class="footer">
			<div class="site-footerimg"><img src="/images/default.png" width="1190" height="106" /></div>
			<div class="warpa">
				<div class="footer-service cl">
					<div class="fc-logo">
						<img src="/images/default.png" style="max-height:50px;_height:50px;" />
					</div>
					<div class="fc-left clearfix">

						<dl class="fore1">
							<dt><strong>购物指南</strong></dt>
							<dd>

								<p><a href="/Article/Details/50 " target="_blank" rel="nofollow">购物流程</a></p>
								<p><a href="/Article/Details/51 " target="_blank" rel="nofollow">会员介绍</a></p>
								<p><a href="/Article/Details/52 " target="_blank" rel="nofollow">常见问题</a></p>
								<p><a href="/Article/Details/53 " target="_blank" rel="nofollow">联系客服</a></p>
								<p><a href="/Article/Details/69 " target="_blank" rel="nofollow">退款说明</a></p>
							</dd>
						</dl>
						<dl class="fore2">
							<dt><strong>支付方式</strong></dt>
							<dd>

								<p><a href="/Article/Details/55 " target="_blank" rel="nofollow">在线支付</a></p>
								<p><a href="/Article/Details/67 " target="_blank" rel="nofollow">预付款规则</a></p>
							</dd>
						</dl>
						<dl class="fore3">
							<dt><strong>商家合作</strong></dt>
							<dd>

								<p><a href="/Article/Details/59 " target="_blank" rel="nofollow">商家入驻</a></p>
								<p><a href="/Article/Details/60 " target="_blank" rel="nofollow">平台规则</a></p>
							</dd>
						</dl>
						<dl class="fore4">
							<dt><strong>售后服务</strong></dt>
							<dd>

								<p><a href="/Article/Details/62 " target="_blank" rel="nofollow">售后政策</a></p>
								<p><a href="/Article/Details/63 " target="_blank" rel="nofollow">价格保护</a></p>
								<p><a href="/Article/Details/64 " target="_blank" rel="nofollow">余额提现</a></p>
								<p><a href="/Article/Details/65 " target="_blank" rel="nofollow">返修/退换货</a></p>
								<p><a href="/Article/Details/66 " target="_blank" rel="nofollow">取消订单</a></p>
							</dd>
						</dl>
						<dl class="fore5">
							<dt><strong>关于我们</strong></dt>
							<dd>

								<p><a href="/Article/Details/68 " target="_blank" rel="nofollow">商城介绍</a></p>
							</dd>
						</dl>
					</div>
					<div class="qrcode">
						<img class="lazyload" src="/Storage/Plat/Site/qrCode.png" />
						<h3>扫码关注</h3>
						<p>京粮门店测试官方微信</p>
					</div>
				</div>
			</div>

			<div class="copyright">
				<div class="warp">

					<p><a href="http://www.miitbeian.gov.cn" target="_self">&nbsp; 冀ICP备15025547号-1</a></p>
				</div>
			</div>
		</div>

		<script>
		(function () {
			var data= null;
			if (data) {
				var callback;
				if (data.goBack == true)
					callback = function () { history.go(-1); };
				var fun;
				if (data.type == -1)
					fun='errorTips';
				else if(data.type==0)
					fun='alert';
				else if (data.type == 1)
					fun='alertTips';
				else if (data.type == 2)
					fun='succeedTips';
				if(fun)
					$.dialog[fun](data.message,callback,data.time);
			}
		})();
		</script>
	</div>

	<script>
		var curshopid = couponsUrl = canCouponsUrl = null;

		$(document).ready(function () {
			loadLoginUserInfo();
			loadUserCoupons();
		});
	</script>
</body>
</html>
