<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>WeiXinPay_Wap</PluginId>
  <DisplayName>微信Wap支付</DisplayName>
  <ClassFullName>Mall.Plugin.Payment.WeiXinPay_Wap.Service,Mall.Plugin.Payment.WeiXinPay_Wap</ClassFullName>
  <Description>微信Wap支付</Description>
  <Type>1</Type>
  <Author>Mall</Author>
  <Version>1.0</Version>
  <MinMallVersion>1.1.0</MinMallVersion>
  <MaxMallVersion></MaxMallVersion>
  <Enable>0</Enable>
</PluginInfo>