@using Mall.Entities;
@{
    ViewBag.Title = "电子凭证";
    var validityType = (bool)ViewBag.validityType;
    var validityDate = (string)ViewBag.validityDate;
    var validityDateStart = (string)ViewBag.validityDateStart;
    var total = (int)ViewBag.total;
    var orderVerificationCodes = ViewBag.orderVerificationCodes as List<OrderVerificationCodeInfo>;
}
@if (total > 0)
{
<div class="container certificate">
	<div class="top">
		共 @total 张, @Html.Raw(validityType? string.Format(" 有效期 {0} 至 {1}", validityDateStart,validityDate) : "长期有效")
	</div>
	<div class="wrapper">
		<div class="swiper-container">
            <div class="swiper-wrapper">
                @foreach (var item in orderVerificationCodes)
                {
                    string codestatus = string.Empty;//待核销、退款中均能扫码
                    switch (item.Status)
                    {
                        case OrderInfo.VerificationCodeStatus.AlreadyVerification:
                            codestatus = "used";
                            break;
                        case OrderInfo.VerificationCodeStatus.RefundComplete:
                            codestatus = "refund";
                            break;
                        case OrderInfo.VerificationCodeStatus.Expired:
                            codestatus = "expired";
                            break;
                        default:
                            break;
                    }
                    <div class="swiper-slide codecn">
                        <img src="@item.QRCode"/>
                        <div class='content'>
                            <div class="nomore line_height32 font24"><span>核销码</span></div>
                            <div class='h3'>@System.Text.RegularExpressions.Regex.Replace(item.VerificationCode, @"(\d{4})", "$1 ")</div>
                        </div>
                        <div class="cover">
                            <div class="codestatus @codestatus"></div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="swiper-pagination"></div>
	</div>
</div>
<script type="text/javascript" src="/Areas/Mobile/Templates/Default/Scripts/swiper.min.js"></script>
<script type="text/javascript">
	var swiper = new Swiper('.swiper-container', {
                pagination: '.swiper-pagination',
                slidesPerView: 'auto',
                centeredSlides: true,
                paginationClickable: true,
                spaceBetween: 10
            });
</script>
}