<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>UnionPay</PluginId>
  <DisplayName>银联支付</DisplayName>
  <ClassFullName>Mall.Plugin.Payment.UnionPay.UnionPay,Mall.Plugin.Payment.UnionPay</ClassFullName>
  <Description>银联支付插件</Description>
  <Type>1</Type>
  <Author>Mall</Author>
  <Version>1.0</Version>
  <MinMallVersion>1.0.0</MinMallVersion>
  <MaxMallVersion></MaxMallVersion>
  <Enable>0</Enable>
</PluginInfo>