<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>Mall.Plugin.Message.Email</PluginId>
  <DisplayName>邮件通知</DisplayName>
  <ClassFullName>Mall.Plugin.Message.Email.Service,Mall.Plugin.Message.Email</ClassFullName>
  <Description>邮件通知插件</Description>
  <Type>3,6</Type>
  <Author>Mall</Author>
  <Version>1.0</Version>
  <MinMallVersion>1.0.0</MinMallVersion>
  <MaxMallVersion></MaxMallVersion>
  <Enable>0</Enable>
</PluginInfo>