@{
    ViewBag.Title = "经营类目申请列表";
}
<script src="~/Scripts/jquery.MallDatagrid.js"></script>
<script src="~/Areas/Admin/Scripts/ShopApplyList.js"></script>
<div class="container">
    <ul class="nav nav-tabs-custom clearfix">
        <li><a href="./Management">店铺管理</a></li>
        <li><a href="./Management?type=Auditing">入驻审核</a></li>
        <li class="active"><a href="./Applylist">经营类目审核</a></li>
    </ul>
    <div class="queryDiv">
		<img class="queryImg" src="/Images/ic_query.png">
		<div class="tipBox">
			<h5>温馨提示:</h5>
			<ul>
				<li><span>官方自营店默认拥有所有类目的经营权限，入驻商家需要申请经营类目。</span></li>
				<li><span>商家冻结后，商家将无法登录卖家中心，店铺所有商品都会下架， 商家下面的所有门店也会冻结。商家解冻后，所有商品需要重新上架，所有门店也需要重新解冻。</span></li>
			</ul>
		</div>
	</div>
    <div id="shopToolBar">
        <div class="search-box">
            <form class="form-inline custom-inline">
                <div class="form-group">
                    <label class="label-inline w75" for="">店铺名称</label>
                    <input class="form-control input-ssm" type="text" id="shopName">
                </div>
                <div class="form-group">
                    <label class="label-inline w75" for="">店铺状态</label>
                    <select class="sele form-control input-ssm" id="status">
                        <option value="">审核状态</option>
                        @foreach (var d in Mall.Core.EnumHelper.ToDescriptionDictionary<Mall.Entities.BusinessCategoryApplyInfo.BusinessCateApplyStatus>())
                        {
                            <option value="@d.Key">@d.Value</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input type="button" class="btn btn-primary btn-sm" id="searchBtn" value="搜 索">
                </div>
            </form>
        </div>
    </div>
    <table class="table" id="list"></table>
</div>
