<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>Mall.Plugin.Express.Yunda</PluginId>
  <DisplayName>韵达快递</DisplayName>
  <ClassFullName>Mall.Plugin.Express.Yunda.Service,Mall.Plugin.Express.Yunda</ClassFullName>
  <Description>韵达快递插件</Description>
  <Type>2</Type>
  <Author>Mall</Author>
  <Version>1.0</Version>
  <MinMallVersion>1.0.0</MinMallVersion>
  <MaxMallVersion></MaxMallVersion>
  <Enable>0</Enable>
</PluginInfo>