<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>Mall.Plugin.OAuth.QQ</PluginId>
  <DisplayName>QQ</DisplayName>
  <ClassFullName>Mall.Plugin.OAuth.QQ.Service,Mall.Plugin.OAuth.QQ</ClassFullName>
  <Description>QQ信任登录插件</Description>
  <Type>0</Type>
  <Author>Mall</Author>
  <Version>1.0</Version>
  <MinMallVersion>1.0.0</MinMallVersion>
  <MaxMallVersion></MaxMallVersion>
  <Enable>0</Enable>
</PluginInfo>