@{
ViewBag.ShowAside = 2;//显示返回顶部按钮 
}
@{Layout = "/Areas/Mobile/Templates/Default/Views/Shared/_Base.cshtml";}
<div class="container">
@{Html.RenderPartial("~/Areas/Mobile/Templates/Default/Views/Shared/_SearchBox.cshtml");}
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="~/Areas/Mobile/Templates/Default/Scripts/WeiXinShare.js"></script>
<link rel="stylesheet" href="/Content/PublicMob/css/style.css" />
<link rel="stylesheet" href="/Areas/Admin/templates/common/style/css.css" rev="stylesheet" type="text/css">
<link rel="stylesheet" href="/Areas/Admin/templates/common/style/mycss.css" rev="stylesheet" type="text/css">
<link rel="stylesheet" href="/Areas/Admin/templates/common/style/main.css" rev="stylesheet" type="text/css">
<link rel="stylesheet" href="/Areas/Admin/templates/common/style/head.css">

            <div class="members_con" style="margin:0 auto">
                
                <section class="members_flash j-swipe" id="mySwipe">
                    <ul class="clearfix">
                        
                        
                        <li>
                            <a href="#" title="">
                                
                                
                                <img src="/Content/Public/images/diy/app/group_750_350.png" width="100%" />
                                
                                
                            </a>
                        </li>
                        
                        <li>
                            <a href="#" title="">
                                
                                
                                <img src="/Content/Public/images/diy/app/group_750_350.png" width="100%" />
                                
                                
                            </a>
                        </li>
                        
                        <li>
                            <a href="#" title="">
                                
                                
                                <img src="/Content/Public/images/diy/app/group_750_350.png" width="100%" />
                                
                                
                            </a>
                        </li>
                        
                        
                    </ul>
                    <section class="members_flash_time">
                        
                        
                        <span class="cur" ></span>
                        
                        <span  ></span>
                        
                        <span  ></span>
                        
                        
                    </section>
                </section>
                
            </div>
        
            <div class="members_con">
                <section class="members_nav1">
                    <ul class="pic-nav">
                        
                        
                        
                        <li class="lisw4">
                            <span><a class="goodsimg" href="#"><div class="son"><img src="/Content/Public/images/diy/app/group_120_120.png"></div></a></span>
                            <a class="members_nav1_name" href="#"></a>
                        </li>
                        
                        
                        
                        <li class="lisw4">
                            <span><a class="goodsimg" href="#"><div class="son"><img src="/Content/Public/images/diy/app/group_120_120.png"></div></a></span>
                            <a class="members_nav1_name" href="#"></a>
                        </li>
                        
                        
                        
                        <li class="lisw4">
                            <span><a class="goodsimg" href="#"><div class="son"><img src="/Content/Public/images/diy/app/group_120_120.png"></div></a></span>
                            <a class="members_nav1_name" href="#"></a>
                        </li>
                        
                        
                        
                        <li class="lisw4">
                            <span><a class="goodsimg" href="#"><div class="son"><img src="/Content/Public/images/diy/app/group_120_120.png"></div></a></span>
                            <a class="members_nav1_name" href="#"></a>
                        </li>
                        
                        
                        
                    </ul>
                </section>
            </div>
        @{Html.RenderPartial("~/Areas/Mobile/Templates/Default/Views/Shared/_4ButtonsFoot.cshtml");}
</div>
<script src="~/Areas/Mobile/Templates/Default/Scripts/mui.min.js"></script>
<script src="~/Areas/Mobile/Templates/Default/Scripts/AppAuto.js"></script>
<script src="~/Areas/Mobile/Templates/Default/Scripts/home.js"></script>
 <script src="~/Scripts/swipe-template.js"></script>
<script src="~/Areas/Mobile/Templates/Default/Scripts/IndexShare.js"></script>
