<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>WeiXinPay_JSAPI</PluginId>
  <DisplayName>微信支付(JSAPI)</DisplayName>
  <ClassFullName>Mall.Plugin.Payment.WeiXinPay_JSAPI.Service,Mall.Plugin.Payment.WeiXinPay_JSAPI</ClassFullName>
  <Description>微信内支付</Description>
  <Type>1</Type>
  <Author>Mall</Author>
  <Version>1.0</Version>
  <MinMallVersion>1.1.0</MinMallVersion>
  <MaxMallVersion></MaxMallVersion>
  <Enable>0</Enable>
</PluginInfo>