<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <SupportPlatfoms>
    <PlatformType>Android</PlatformType>
  </SupportPlatfoms>
  <AppId>wxcd80f6eca1e203cb</AppId>
  <AppSecret>aa72448a3943b2931f184c886838dda1</AppSecret>
  <MCHID>1391536702</MCHID>
  <Key>abcdefgh1234567887654321hgfedcba</Key>
  <Logo>wx_logo.png</Logo>
  <pkcs12>apiclient_cert.p12</pkcs12>
</Config>