<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>WeiXinPay_App</PluginId>
  <DisplayName>微信App支付</DisplayName>
<ClassFullName>Mall.Plugin.Payment.WeiXinPay_App.Service,Mall.Plugin.Payment.WeiXinPay_App</ClassFullName>
  <Description>微信App支付插件</Description>
  <Type>1</Type>
  <Author>Mall</Author>
  <Version>1.0</Version>
  <MinMallVersion>1.1.0</MinMallVersion>
  <MaxMallVersion></MaxMallVersion>
  <Enable>0</Enable>
</PluginInfo>