<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>Alipay_App</PluginId>
  <DisplayName>支付宝App支付</DisplayName>
  <ClassFullName>Mall.Plugin.Payment.Alipay_App.Service,Mall.Plugin.Payment.Alipay_App</ClassFullName>
  <Description>支付宝App支付插件</Description>
  <Type>1</Type>
  <Author>Mall</Author>
  <Version>1.0</Version>
  <MinMallVersion>1.0.0</MinMallVersion>
  <MaxMallVersion></MaxMallVersion>
  <Enable>0</Enable>
</PluginInfo>