@{
    ViewBag.Title = "审核状态";
    ViewBag.FootIndex = 4;
}

<div class="container distribution">
    <div class="auditing wait">
    	<img src="/Areas/Mobile/Templates/Default/Images/audit2.png"/>
    	<h5>申请已提交</h5>
    	<p>您提交的申请正在审核中,请耐心等待...</p>
    	<a class="btn nofix" href="@(Url.Action("Center","Member"))">返回个人中心</a>
    </div>
</div>
