<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>WeiXinPay</PluginId>
  <DisplayName>微信公众号支付</DisplayName>
  <ClassFullName>Mall.Plugin.Payment.WeiXinPay.Service,Mall.Plugin.Payment.WeiXinPay</ClassFullName>
  <Description>微信公众号支付插件</Description>
  <Type>1</Type>
  <Author>Mall</Author>
  <Version>1.0</Version>
  <MinMallVersion>1.1.0</MinMallVersion>
  <MaxMallVersion></MaxMallVersion>
  <Enable>0</Enable>
</PluginInfo>