<script src="~/Scripts/jquery.MallUpload.js"></script>
<script src="~/Scripts/jquery.placeholder.min.js"></script>
<script src="~/Scripts/bootstrap.autocomplete.js"></script>
<script src="~/Scripts/jquery.MallDatagrid.js"></script>
<script src="~/Areas/Admin/Scripts/BonusDetail.js"></script>
<div class="container">
    <ul class="breadcrumb clearfix">
        <li><a href="/Admin/Bonus/Management">管理</a></li>
        <li class="active"><a>查看详情</a></li>
    </ul>
	<div class="queryDiv">
		<img class="queryImg" src="/Images/ic_query.png">
		<div class="tipBox">
			<h5>温馨提示:</h5>
			<ul>
				<li><span>吸粉红包总共分为三个类型，活动红包：直接通过链接发放给用户的福利红包；关注红包：会员第一次关注将获得红包，同一时间段内关注送红包活动只能添加一个；奖品红包：与刮刮卡，幸运大转盘搭配使用，参与抽奖活动获得的红包。</span></li>
				<li><span>目前仅微信端支持吸粉红包活动。</span></li>
			</ul>
		</div>
	</div>

    <table class="table" id="list"></table>
</div>

<input type="hidden" value="@ViewBag.Id "  id="VBid"/>