<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>Alipay</PluginId>
  <DisplayName>支付宝即时到账支付</DisplayName>
  <ClassFullName>Mall.Plugin.Payment.Alipay.Service,Mall.Plugin.Payment.Alipay</ClassFullName>
  <Description>支付宝即时到账支付插件</Description>
  <Type>1</Type>
  <Author>Mall</Author>
  <Version>1.0</Version>
  <MinMallVersion>1.0.0</MinMallVersion>
  <MaxMallVersion></MaxMallVersion>
  <Enable>0</Enable>
</PluginInfo>