<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>Mall.Plugin.Express.Zhaijisong</PluginId>
  <DisplayName>宅急送</DisplayName>
  <ClassFullName>Mall.Plugin.Express.Zhaijisong.Service,Mall.Plugin.Express.Zhaijisong</ClassFullName>
  <Description>宅急送快递插件</Description>
  <Type>2</Type>
  <Author>Mall</Author>
  <Version>1.0</Version>
  <MinMallVersion>1.0.0</MinMallVersion>
  <MaxMallVersion></MaxMallVersion>
  <Enable>0</Enable>
</PluginInfo>